* {
    box-sizing: border-box;
}

body {
    margin:0 auto;
    background-image: url("../images/wallpaper.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron {
    background: rgba(0, 0, 0, 0.01);
    color:red;
    font-family: 'Bungee';
    height:150px;
    padding:20px;

}

.characters {
    margin-top:10px;
}

.fader {
    opacity: .04
}

.col-centered{
    float: none;
    margin: 0 auto;
}

    

