* {
    box-sizing: border-box;
}

body {
    margin:0 auto;
    background-image: url("../images/wallpaper.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron {
   
    background: rgba(0, 0, 0, 0.01);
    color:white;

}

.characters {
    margin-top:100px;
}

.fader {
    opacity: .04
}




/* .jumbotron {
    margin:0 auto 75px auto;
    background-image: url("../images/jumbo.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: auto 100%;
     
} */



#hero, #enemy{
    margin-top:100px;
    color:red;

}

