* {
    box-sizing: border-box;
}

body {
    margin:0 auto;
    background-image: url("../images/wallpaper.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron {
   
    background: rgba(0, 0, 0, 0.01);
    color:white;

}

.characters {
    margin-top:50px;
}

.fader {
    opacity: .04
}

#hero, #enemy{
    margin-top:100px;
}

